.cover__link{
  min-height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  background-image: url('../../../images/__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cover__link::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover:before{
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link{
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link{
    min-height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .cover__link{
    min-height: 200px;
  }
}
