.places{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: calc(320px + (984px — 320px) * ((100% — 320px) / (984px— 320px)));
  padding: 0 148px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places{
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places{
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 450px) {
  .places{
    padding: 0;
  }
}
