.places{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: calc(100% - 2*148px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places{
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 768px) {
  .places{
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 450px) {
  .places{
    width: 100%;
  }
}
