.footer__link{
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .footer__link{
    font-size: 24px;
    line-height: 1;
  }
}
