.footer__item-link{
  margin-right: 18px;
}

.footer__item-link:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 450px) {
  .footer__item-link{
    margin-bottom: 32px;
  }

  .footer__item-link:last-of-type{
    margin-bottom: 48px;
  }
}
