.place{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: repeat(2, auto);
      grid-template-areas:
  "title url"
  "img text";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-of-type{
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place{
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place{
    gap: 48px 28px;
  }

  .place:last-of-type{
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 600px) {
  .place{
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto 32px auto 32px auto 32px auto;
    grid-template-rows: repeat(4, auto);
        grid-template-areas:
    "title"
    "url"
    "img"
    "text";
    gap: 32px;
    margin-bottom: 50px;
  }

  .place:last-of-type{
    margin-bottom: 66px;
  }

}
