.footer{
  max-width: 1184px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer{
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 450px) {
  .footer{
    max-width: 186px;
    padding: 64px 118px 24px 16px;
  }
}
